{% extends "base.html" %}
{% block content %}
    {{ user }}
    {% comment %} {% for animes in anime %} {% endcomment %}
    {% comment %} <div class="col mb-5">
            <div class="card h-100" style="width: 18rem;">
                <img src="{{ animes.anime_image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ animes.anime_name }}</h5>
                    <p class="card-text">{{ animes.anime_description }}</p>
                    <a href="#" class="btn btn-primary">Comentar</a>
                </div>
            </div>
    </div> {% endcomment %}
    <section class="py-6">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for animes in anime %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ animes.anime_image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ animes.anime_name }}</h5>
                                    <!-- Product price-->
                                    <br>
                                    {{ animes.anime_description }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto"
                                       target="_blank"
                                       href="{% url "show_anime" animes.id %}">Ver Comentarios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% comment %} {% endfor %} {% endcomment %}
{% endblock content %}
