{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Voce Ja Esta Logado!</h1>
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <br>
            <form method="POST" action="{% url "login" %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text"
                           class="form-control"
                           name="username"
                           placeholder="Digite Seu Usuario">
                </div>
                <div class="mb-3">
                    <input type="password"
                           class="form-control"
                           name="password"
                           placeholder="Digite Sua Senha">
                </div>
                <br>
                <button type="submit" class="btn btn-secondary">Entrar</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}
