{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark"
     data-bs-theme="dark">
    <div class="container-fluid ">
        <a class="navbar-brand" href="{% url "home" %}">Animus</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% comment %} Deixar so admin adicionar novo anime {% endcomment %}
                {% comment %} {% if user.is_superuser %} {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "add_anime" %}">Add Anime</a>
                </li>
                {% comment %} {% endif %} {% endcomment %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Todos Anime</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Sair</a>
                    </li>
                {% else %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url "login" %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "regiter" %}">Registrar</a>
                    </li>
                {% endif %}
                {% comment %} <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url "search_meep" %}">Meep</a>
                        <a class="dropdown-item" href="{% url "search_user" %}">User</a>
                    </div>
                </div> {% endcomment %}
            </ul>
        </div>
    </div>
</nav>
