{% extends "base.html" %}
{% load static %}
{% block content %}
    {{ user.profile.user }}
    <img src="{{ user.profile.profile_image.url }}"
         width="100"
         height="100"
         class="rounded-circle"
         alt="" />
    <h1>{{ anime.anime_name }}</h1>
    {% comment %} <section class="py-6">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ anime.anime_image.url }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ anime.anime_name }}</h5>
                                <!-- Product price-->
                                <br />
                                {{ animes.anime_description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <img src="{{ anime.anime_image.url }}"  height="400px" alt="" />
    <br />
    <br />
    <h3>COMENTARIOS</h3>
    {% comment %} {% for comments in comment %}
        <div class=" col-8 alert alert-dark" role="alert">{{ comments.body }} {{ comments.anime.id }}</div>
        <br />
    {% endfor %} {% endcomment %}
    {% if not post.comments.all %}
        Sem COMENTARIOS <a href="#">Adicionar Comentario</a>
    {% else %}
        {% for comment in post.comments.all %}
            <div class="alert alert-light" role="alert">
                <div class="row">
                    <div class="col-1">
                        {% if post.user.profile.profile_image %}
                            <img src="{{ comment.user.profile.profile_image.url }}"
                                 width="100"
                                 height="100"
                                 class="rounded-circle"
                                 alt="" />
                        {% else %}
                            <img src="{% static "\images\users\419d80fc47dbb030167929078cf52dd6d4b03f1c_full.jpg" %}"
                                 width="100"
                                 height="100"
                                 class="rounded-circle"
                                 alt="" />
                        {% endif %}
                    </div>
                    <div class="col-10">
                        {{ comment.body }}
                        <br />
                        <br />
                        <small class="text-muted">({{ comment.date_creation }}) By: @<strong>{{ comment.user }}</strong></small>
                    </div>
                </div>
            </div>
            <br />
        {% endfor %}
    {% endif %}
    <br />
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Comentar</button>
    </form>
{% endblock content %}
